<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./tests/bootstrap.php" backupGlobals="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <file>./src/bootstrap.php</file>
      <file>./src/Console/console.php</file>
      <file>./src/Console/origin.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="OriginPHP Test Suite">
      <directory>./tests/TestCase/</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="Origin\TestSuite\OriginTestListener" file="./src/TestSuite/OriginTestListener.php">
    </listener>
  </listeners>
  <php>
    <const name="PHPUNIT" value="true"/>
    <env name="ORIGIN_ENV" value="test"/>

  <!-- 
    <env name="DB_HOST" value="localhost" />
    <env name="DB_USERNAME" value="root" />
    <env name="DB_PASSWORD" value="root" />
    <env name="DB_ENGINE" value="mysql" />
  -->

  <!-- 
    <env name="EMAIL_IMAP_USERNAME" value="secret"/>
    <env name="EMAIL_IMAP_PASSWORD" value="secret"/>
    <env name="EMAIL_IMAP_HOST" value="imap.gmail.com"/>
    <env name="EMAIL_IMAP_PORT" value="993"/>
    <env name="EMAIL_IMAP_ENCRYPTION" value="ssl"/>

    <env name="EMAIL_POP3_USERNAME" value="secret"/>
    <env name="EMAIL_POP3_PASSWORD" value="secret"/>
    <env name="EMAIL_POP3_HOST" value="pop.gmail.com"/>
    <env name="EMAIL_POP3_PORT" value="995"/>
    <env name="EMAIL_POP3_ENCRYPTION" value="ssl"/>
  -->

    <env name="REDIS_HOST" value="127.0.0.1"/>
    <env name="REDIS_PORT" value="6379"/>

  <!-- 
    <env name="SSH_HOST" value="localhost"/>
    <env name="SSH_PRIVATE_KEY" value="/home/me/.ssh/id_rsa"/>
    <env name="SSH_USERNAME" value="me"/>
    <env name="SSH_PASSWORD" value="secret"/>
  -->
  </php>
</phpunit>
