/**
 * Minimally adjusted bootstrap
 * - Make form elements square
 * - Change alert colors
 * - Add some colors for form errors
 * - Configure date/time fields
 * - Style tables for index and related
 *
 * More color scheme ideas from:
 * @link https://flatuicolors.com/palette/defo
 * @link http://materialuicolors.co
 */

main {
  padding-top:5px;
}

.origin-navbar {
  background-color:#3F51B5;
}
.origin-navbar  .navbar-brand {
  color:#fff;
}
/**
 * Form Error handling
 */
input.error {
  border-color: red;
  border-width: 2px;
}

div.error-message {
  font-weight: bold;
  color: #ff0000;
}

input.form-error, select.form-error {
  border: 2px solid #ff0000;
}

/**
 * Form Design
 */
form label {
  font-weight: bold;
  color: #212529;
}

form .required label:after {
  color: #ff0000;
  content: ' *';
}

/**
 * Square corner select
 */
select:not([multiple]) {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1"><path d="M4 8L0 4h8z"/></svg>');
  background-position: right 50%;
  background-repeat: no-repeat;
}

input.form-control, select.form-control, textarea.form-control {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-radius: 0px;
}

.form-control:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  background: #fff;
  outline: 2px solid #0065FF;
  border-radius: 0px;
}

/**
 * Modify Alerts
 */
.alert {
  border-radius: 0px;
  border: none;
}

.alert-danger {
  background-color: #e74c3c;
  color: #fff;
}

.alert-success {
  background-color: #2ecc71;
  color: #fff;
}

.alert-info {
  background-color: #3498db;
}

.alert-warning {
  background-color: #f1c40f;
}

div.date input,div.time input {
  width: 150px;
  margin-right:5px;
}
div.datetime input {
  width: 300px;
}

/*
div.datetime input {
  width: 150px;
  margin-right:5px;
}

div.datetime .form-control {
  display: inline;
}
div.datetime label {
  display: block;
}
*/
.index .table th,.related .table th {
  background-color:#dee2e6;
}