# This is the template for unit testing the framework. 
# Complete this and rename in same folder
# Email Settings
GMAIL_USERNAME=james@example.com
GMAIL_PASSWORD=secret
# SFTP Storage
SFTP_HOST=192.168.0.7
SFTP_USERNAME=sftp
SFTP_PASSWORD=sftp
# FTP Storage
FTP_HOST=ftp
FTP_USERNAME=ftp
FTP_PASSWORD=ftp