<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="../src/bootstrap.php"
    backupGlobals="true"
    >
    <testsuites>
        <testsuite name="OriginPHP Test Suite">
            <directory>./TestCase/</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="PHPUNIT" value="true"/>
    </php>
    <listeners>
        <listener
            class="Origin\TestSuite\OriginTestListener"
        file ="../src/TestSuite/OriginTestListener.php"
        >
    </listener>
	</listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">../src/</directory>
        </whitelist>
    </filter>
</phpunit>
